/*
Theme Name: CT Starter
Theme URI: https://competethemes.com/period/
Author: Compete Themes
Author URI: https://competethemes.com/
Description: Period is a bold and minimalist blog theme for publishers who want to be heard.
Version: 0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: gray, silver, white, light, dark, two-columns, right-sidebar, left-sidebar, responsive-layout, custom-menu, featured-images, sticky-post, theme-options, threaded-comments, translation-ready
Text Domain: period

Period WordPress Theme, Copyright 2014 Compete Themes
Period is distributed under the terms of the GNU GPL
*/
/*===== Variables =====*/
/* Theme Colors */
/* Media Query widths */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/***** Silent Classes *****/
/*===== Basic Styles =====*/
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.overflow-container {
  position: relative;
  overflow: hidden;
  height: auto;
  min-height: 100%;
}

.main {
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h1 {
  font-size: 2.625em;
  /* 42px / 16px */
  line-height: 1.143;
}

h2 {
  font-size: 2.25em;
  /* 36px / 16px */
  line-height: 1.34;
}

h3 {
  font-size: 1.625em;
  /* 26px / 16px */
  line-height: 1.85;
}

h4 {
  font-size: 1.313em;
  /* 21px / 16px */
  line-height: 1.143;
}

h5 {
  font-size: 1.125em;
  /* 18px / 16px */
  line-height: 1.34;
}

h6 {
  font-size: 1em;
}

ul,
ol {
  font-size: 1em;
  padding: 0;
}

ul ul,
ol ol,
ul ol,
ol ul,
li li {
  font-size: 1em;
}

/* Markup styles */
/* Table styles */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  padding: 0.5em 0.75em;
  border: solid 1px black;
}

th {
  padding: 0.5em 0.75em;
  border: solid 1px black;
}

/* Images */
img,
.alignright,
.alignleft,
.aligncenter,
.alignnone,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

.wp-caption-text {
  font-size: 0.813em;
  line-height: 1.85;
}

/* Form styles */
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]):not([type="image"]),
textarea {
  width: 100%;
  font-size: 0.813em;
  line-height: 1.85;
  font-family: "Open Sans", sans-serif;
  padding: 10px 12px;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

textarea {
  overflow: auto;
  /* to hide scrollbar in IE */
}

input[type="submit"] {
  font-size: 0.813em;
  line-height: 1.85;
  font-family: "Open Sans", sans-serif;
  padding: 10px 12px;
  width: 100%;
  color: white;
  outline: none;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}
input[type="submit"]:hover {
  cursor: pointer;
}

/* ie image border fix */
a img {
  border: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: none;
    /* none for no scaling */
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: none;
    /* none for no scaling */
  }
}
.screen-reader-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
}

.skip-content {
  position: absolute;
  top: -100%;
  width: 100%;
  right: 0;
  display: block;
  text-align: center;
  color: white !important;
  z-index: 99;
  padding: 1.5em;
  -webkit-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
}
.skip-content:focus {
  top: 0;
  outline: none;
}

.admin-bar .skip-content:focus {
  top: 32px;
}

.max-width {
  max-width: 1400px;
  margin: 0 auto;
}

/* gallery styles copied from Hybrid Core */
/**
 * Cleaner Gallery Stylesheet
 * @version 20130526
 */
.gallery {
  display: block;
  clear: both;
  overflow: hidden;
  margin: 0 auto;
}

.gallery-row {
  display: block;
  clear: both;
  overflow: hidden;
  margin: 0;
}

.gallery-item {
  overflow: hidden;
  float: right;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  border: none;
  background: transparent;
}

.gallery-icon img {
  width: auto;
  max-width: 89%;
  height: auto;
  margin: 0 auto;
  padding: 1%;
}

.gallery-caption {
  margin-right: 0;
}

/* Gallery item sizes depending on the number of columns */
.gallery-col-0 .gallery-item {
  width: 100%;
}

.gallery-col-1 .gallery-item {
  width: 100%;
}

.gallery-col-2 .gallery-item {
  width: 50%;
}

.gallery-col-3 .gallery-item {
  width: 33.33%;
}

.gallery-col-4 .gallery-item {
  width: 25%;
}

.gallery-col-5 .gallery-item {
  width: 20%;
}

.gallery-col-6 .gallery-item {
  width: 16.66%;
}

.gallery-col-7 .gallery-item {
  width: 14.28%;
}

.gallery-col-8 .gallery-item {
  width: 12.5%;
}

.gallery-col-9 .gallery-item {
  width: 11.11%;
}

.gallery-col-10 .gallery-item {
  width: 10%;
}

.gallery-col-11 .gallery-item {
  width: 9.09%;
}

.gallery-col-12 .gallery-item {
  width: 8.33%;
}

.gallery-col-13 .gallery-item {
  width: 7.69%;
}

.gallery-col-14 .gallery-item {
  width: 7.14%;
}

.gallery-col-15 .gallery-item {
  width: 6.66%;
}

.gallery-col-16 .gallery-item {
  width: 6.25%;
}

.gallery-col-17 .gallery-item {
  width: 5.88%;
}

.gallery-col-18 .gallery-item {
  width: 5.55%;
}

.gallery-col-19 .gallery-item {
  width: 5.26%;
}

.gallery-col-20 .gallery-item {
  width: 5%;
}

.gallery-col-21 .gallery-item {
  width: 4.76%;
}

.gallery-col-22 .gallery-item {
  width: 4.54%;
}

.gallery-col-23 .gallery-item {
  width: 4.34%;
}

.gallery-col-24 .gallery-item {
  width: 4.16%;
}

.gallery-col-25 .gallery-item {
  width: 4%;
}

.gallery-col-26 .gallery-item {
  width: 3.84%;
}

.gallery-col-27 .gallery-item {
  width: 3.7%;
}

.gallery-col-28 .gallery-item {
  width: 3.57%;
}

.gallery-col-29 .gallery-item {
  width: 3.44%;
}

.gallery-col-30 .gallery-item {
  width: 3.33%;
}

.wrapper { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.food { position: absolute !important; top: 50%; left: 50%; margin: -197px 0 0 -310px }

.food
{
  position: relative;
  width: 620px;
  height: 394px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .5);
}

.food > .cover
{
  position: relative;
  height: 260px;
  background: transparent center no-repeat;
  background-size: 100% auto;
  border-radius: 2px 2px 0 0;
}

.food > .cover > label
{
  position: absolute;
  top: 22px;
  left: -33px;
  height: 33px;
  padding: 0 30px 0 63px;
  line-height: 33px;
  vertical-align: middle;
  font-family: sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #FFF;
  text-shadow: 0 1px 2px #000;
  background: rgba(136, 86, 168, .6);
}

.food > .cover > label > i
{
  position: absolute;
  top: 0;
  left: 0;
}

.food > .cover > label > i > svg
{
  margin: 8px;
}

.food > .cover > .download
{
  display: block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 47px;
  height: 47px;
  background: rgba(51, 193, 210, .6);
  border-radius: 100%;
}

.food > .cover > .download:hover { background: #33C1D2 }

.food > .cover > .download > svg
{
  margin: 12px 10px 0;
}

.food > .info
{
  position: relative;
  height: 134px;
  overflow: hidden;
  border-radius: 0 0 2px 2px;
}

.food > .info > .recipe
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 134px;
  height: 134px;
  background: #8856A8;
  font-family: sans-serif;
  font-size: 14px;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 0 0 0 2px;
}

.food > .info > .recipe:hover { background: #9967B9 }

.food > .info > .recipe > i
{
  display: block;
  margin: 38px 0 15px;
}

.food > .info > .content
{
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 154px;
  font-family: sans-serif;
  font-size: 14px;
  color: #888;
}

.food > .info > .content strong { font-weight: normal; color: #333 }
.food > .info > .content .pad-right { padding-right: 20px }
.food > .info > .content .border-right { border-right: 1px solid #D9D9D9 }
.food > .info > .content .consumers img, .food > .info > .content .consumers span { display: inline-block; width: 32px; height: 32px; margin: 0 2px 0 0; line-height: 32px; vertical-align: middle; border-radius: 100% }
.food > .info > .content .consumers span { margin: 0 }

.food > .info > .content h1
{
  margin: 0 0 10px;
  font-size: 26px;
  font-weight: normal;
  color: #333;
}

.food > .info > .content .stars, .food > .info > .content .stars > em
{
  display: block;
  width: 99px;
  height: 18px;
  margin: 0 auto 7px;
  text-align: left;
  background: url(http://c.boylett.uk/generic/image_png_00004.png);
}

.food > .info > .content .stars > em
{
  width: 99px;
  height: 18px;
  margin: 0;
  background: url(http://c.boylett.uk/generic/image_png_00004.png);
  background-position: 0 -18px;
}
